li {
	display: inline-block;
	margin-right: 15px;
}

.options {
	margin-top: 5%;
}

.title {
	margin: auto !important;
}


.glyphicon {
	font-size: 100px !important;
	margin: 1.5% !important;
}

.features {
	margin: auto !important;
	width: 35% !important;
	text-align: center;
}


.feature {
	text-align: center !important;
	font-weight: bold;
	font-size: 18px;
}

.logo {
	margin-top: 30px !important;
}

.forms {
	margin-top: 10% !important;
	margin: auto;
	width: 90% !important;
}

.alert {
	color: red;
	font-weight: bold;
}

#searchBook {
	width: 25% !important;
}

.books {
	display: inline-block;
	height: 30% !important;
}

.library {
	margin-top: 3% !important;
}

.title {
	margin-top: 5% !important;
	margin-left: 3% !important;
}

.requests {
	border-top: 2px solid grey;
	margin-bottom: 2% !important;
}

.buttons {
	margin: 6% !important;
	text-align: center;
}

img {
	margin-top: 4% !important;
}

.snippet {
	font-size: 10px !important;
}

.btn-success {
	margin-right: 4% !important;
}

.btn-danger {
	margin-left: 4% !important;
}
