div(class="jumbotron") 
  div(class="container-fluid logo")
    div(class="row")
      h1(class="text-center") BookShuffle
    div(class="row logo")
      div(class="container-fluid col-md-10 col-md-offset-3")
        span(class="glyphicon glyphicon-user")
        span(class="glyphicon glyphicon-transfer")
        span(class="glyphicon glyphicon-book")
        span(class="glyphicon glyphicon-transfer")
        span(class="glyphicon glyphicon-user")
    div(class="container-fluid logo")
      ul(class="features")
        li(class="feature") &#8226; Add and manage your books
        li(class="feature") &#8226; See other user's books
        li(class="feature") &#8226; Request to borrow others' books
        li(class="feature") &#8226; Manage requests to borrow your books